# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
*.egg-info/

# Keys — NUNCA subir al repo
backend/keys/

# Env
.env
*.env.local

# SQLite dev database
*.db
backend/siem_dev.db

# RSA keys — NUNCA al repo
backend/keys/

# Node
node_modules/
dist/
.vite/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
