# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
*.egg-info/

# Keys — NUNCA subir al repo
backend/keys/

# Env
.env
*.env.local

# Node
node_modules/
dist/
.vite/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
